@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500..800&display=swap');

@font-face {
  font-family: 'Thinker';
  src: url('/public/assets/fonts/Thinker.woff2') format('woff2'),
       url('/public/assets/fonts/Thinker.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ThinkerAlt2';
  src: url('/public/assets/fonts/ThinkerAlt2.woff2') format('woff2'),
       url('/public/assets/fonts/ThinkerAlt2.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
}
